/* Skins
 *
 * Skin styles should be limited to typography, colors, and
 * backgrounds. Except for text elements (i.e. h3, megamenu-title,
 * etc.), widths, margins, and padding of structural blocks are
 * set in the administration area.
 *--------------------------------------------------------*/

/* @group Minimal */
.megamenu-skin-minimal {
  background-color: #bbb;
}

.megamenu-skin-minimal .megamenu-title {
  font-size: 100%;
  font-weight: normal;
}

.megamenu-skin-minimal .megamenu-bin {
  background-color: #eee;
  border: 2px groove #7e7e7e;
  -moz-border-radius: 0.583em;
  -webkit-border-radius: 0.583em;
  border-radius: 0.583em;
}

.megamenu-skin-minimal .megamenu-slot {
  margin-right: 4px;
  border-bottom: 1px solid #bbb;
}

.megamenu-skin-minimal .megamenu-slot-title,
.megamenu-skin-minimal .megamenu-slot-title a {
  background-color: #bbb;
  color: #fff; /* white */
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
}

.megamenu-skin-minimal .megamenu-link {
  font-size: 85%;
}

/* @end Minimal*/

/* @group friendly (ucsf theme)*/

/* overrides - begin */
.megamenu-skin-friendly li {
  margin: 0;
  padding: 0;
  line-height: 120%;
}

.megamenu-skin-friendly * {
  list-style: none;
}

/* overrides - end */

.megamenu-skin-friendly {
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
  background: #f5bb00; /* pharmacy medium gold */
  padding: 0 0 5px 10px;
}

.megamenu-skin-friendly a:hover {
  text-decoration: none;
}

.megamenu-skin-friendly .megamenu-parent-title {
  text-transform: lowercase;
}

.megamenu-skin-friendly .megamenu-parent-title {
  font-weight: normal;
  font-size: 100%;
  vertical-align: bottom;
}

.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title span,
.megamenu-skin-friendly .megamenu-parent-title a:visited {
  font-style: normal;
  color: #000;
  padding: 5px;
}

.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title span,
.megamenu-skin-friendly .hovering .megamenu-parent-title a:hover {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
}

.megamenu-skin-friendly .megamenu-slot,
.megamenu-skin-friendly .megamenu-slot a:hover {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.megamenu-skin-friendly li.megamenu-slot {
  /*width:auto;*/
  /*max-width:200px;*/
  width: 200px;
  margin: 10px 10px auto auto;
  background: #b08700; /* pharmacy dark gold */
  padding-top: 10px;
  padding-bottom: 10px;
}

.megamenu-skin-friendly li.megamenu-slot:hover {
  background-color: #b08700; /* pharmacy dark gold */
}

.megamenu-skin-friendly .hovering .megamenu-parent-title a,
.megamenu-skin-friendly .hovering .megamenu-parent-title span {
  color: #fff;
  background: #b08700; /* pharmacy dark gold */
}

.megamenu-skin-friendly .hovering .megamenu-parent-title span:hover,
.megamenu-skin-friendly .megamenu-slot-title span {
  cursor: default;
}

.megamenu-skin-friendly .hovering .megamenu-parent-title a:hover {
  color: #fff;
  background: #00325b; /* 540 blue */
}

.megamenu-skin-friendly .megamenu-bin {
  margin-top: 5px;
  padding: 0;
  color: #fff;
}

.megamenu-skin-friendly .megamenu-slot-title {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  color: #f4ebcb; /* 80% white on pharmacy dark gold */
}

.megamenu-skin-friendly .megamenu-slot-title a:link,
.megamenu-skin-friendly .megamenu-slot-title a:visited {
  color: #f4ebcb; /* 80% white on pharmacy dark gold */
}

.megamenu-skin-friendly .megamenu-slot-title a,
.megamenu-skin-friendly .megamenu-slot-title span,
.megamenu-skin-friendly .megamenu-item a,
.megamenu-skin-friendly .megamenu-item span {
  padding: 5px 12px 7px 12px;
  display: block;
}

.megamenu-skin-friendly .megamenu-slot a {
  color: #fff;
}

.megamenu-skin-friendly .megamenu-slot a:hover {
  color: #fff;
  background: #00325b; /* 540 blue */
}

.megamenu-skin-friendly .megamenu-item a,
.megamenu-skin-friendly .megamenu-item span {
  color: #fff;
  font-size: 100%;
}

.megamenu-skin-friendly .megamenu-item a:hover {
  color: #fff;
  background: #00325b; /* 540 blue */
}

.megamenu-skin-friendly li.megamenu-slot {
  z-index: 3000;
  background: #b08700; /* pharmacy dark gold */
  margin-bottom: 1.5em;
  border: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -opera-border-radius: 10px;
  -khtml-border-radius: 10px;
  -khtml-box-shadow: rgba(0, 0, 0, .33) 5px 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, .33) 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, .33) 5px 5px 5px;
}

.megamenu-skin-friendly ul a:hover {
  text-decoration: none;
}

.megamenu-skin-friendly .megamenu-slot-title {
  font-size: 150%;
  line-height: 150%;
  font-weight: bold;
}

/* start - ensure that #megamenu-menu bar is the same height in all browsers
 * very frustrating to get this correct - do not touch!
 *--------------------------------------------------------*/
.megamenu-skin-friendly .megamenu-item a,
.megamenu-skin-friendly .megamenu-item span {
  font-size: 120%;
}

.megamenu-menu,
.megamenu-skin-friendly .megamenu-parent,
.megamenu-skin-friendly .megamenu-parent-title
/* this is the key -- all these must be set to the same value */
{
  font-size: 100%;
  line-height: 110%;
  height: 100%;
}

.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title a:link,
.megamenu-skin-friendly .megamenu-parent-title a:visited,
.megamenu-skin-friendly .megamenu-parent-title a:focus,
.megamenu-skin-friendly .megamenu-parent-title a:hover,
.megamenu-skin-friendly .megamenu-parent-title a:active,
.megamenu-skin-friendly .megamenu-parent-title span {
  padding: 4px 8px;
}

/* end - ensure that #megamenu-menu bar is the same height in all browsers
 *--------------------------------------------------------*/
.megamenu-skin-friendly .megamenu-parent-title a:hover {
  text-decoration: none;
  color: #fff;
  background: #00325b; /* 540 blue coated */
}

/* @end Friendly */
